* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
}

.header {
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar > img {
  width: 40px;
  margin-right: 7px;
}

.navbar > span {
  color: #61dafb;
  font-size: 1.4rem;
  font-weight: 700;
}

main {
  color: white;
  width: 100vw;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./assets/react-logo-half.png");
  background-repeat: no-repeat;
  background-position: right center;
  /* background-position-x: right;
  background-position-y: center; */
}

main > h1 {
  margin: 0;
  font-size: 2.4rem;
}

.facts-list {
  margin-top: 46px;
  max-width: 400px;
}

.facts-list > li {
  /* Margin Block ---> margin top & bottom */
  margin-block: 10px;
  line-height: 19px;
}

.facts-list > li::marker {
  color: #61dafb;
  font-size: 1.2rem;
}
