* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

/**
 * Challenge:
 * 
 * Using flexbox, line up the `li`s horizontally and put them inline
 * with the React logo.
 * 
 * NOTE: for practice's sake, don't select any
 * elements, but use classes for all styling.
 */

/**
 * Challenge:
 * 
 * Move the `width` style off the JSX and into CSS with a dedicated
 * className on the img element, and change the width to 55px instead
 */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 1px #000;
}

.main-content {
  text-align: center;
  width: 500px;
  margin: 1rem auto;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list-item {
  margin: 0 1rem;
  font-size: 1.3rem;
}

.react-logo {
  width: 55px;
}

.footer {
  background-color: #000;
  padding: 0.7rem;
}
